
@{
    ViewBag.Title = "Lodgin";
}

<h2>Login</h2>
<form style="vertical-align: center; align-content: left; height: 700px; width: 300pc; margin: 0 auto">
    <label style="width: 100px;">
        Login
    </label>
    <input type="text" /><br/>
    <label style="width: 100px;">
        Password
    </label>
    <input type="text" /><br/>
    <button style="width: 100px;">Log In</button>

</form>

